/*
**  填写错误检查标记
**  标记class为 err-mark
 */

.err-mark::before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: inherit;
	background: #d100ba;
	border-radius: 100%;
	animation: scaleout 1.0s infinite ease-in-out;
}
@keyframes scaleout {
  0% { 
  	transform: scale(0.0) 
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

