.game-info span{
	display: none;
	position: absolute;
	width: 20rem;
	height: 5rem;
	left: 50%;
	top: 50%;
	margin: -2.5rem 0 0 -10rem;
	line-height: 5rem;
	text-align: center;
	font-size: 1.8rem;
	color: #ff3860;
	text-shadow: 0 0 0.4rem #a91432, 0 0.1rem #9e1631;
	transform: translateY(10rem);
	opacity: 0;
	transition: all 1s;
}

.show-info span {
	display: block;
	opacity: 1;
	transform: translateY(0);
}