/* 请先引入 bulma CSS框架 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css);

* {outline: none;}

html {
	/* 是因为在chrome浏览器中默认字体最小值为12px 
	所以这里我们需要使得html默认字体大小为100px
	(注意这里的比例依然是指浏览器默认初始字体大小为16px)
	*/
	font-size: 62.5%;
	color: #222;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	margin: 0;
	padding: 0;
	user-select: none;
	max-width: 45rem;
	>* {
		max-width: 45rem;
	}
}