@import "./_reset.scss";
@import "./_buttons.scss";

h1.title {
	padding: 1rem;
	background-color: #00d1b2;
	color: #fff;
}

.container {
	width: 80%;
	margin: 2rem auto;
	box-shadow: 0 0 0.5rem rgba(22,22,22,0.4);

	.table {
		margin-bottom: 0;
	}

	.table td, .table th {
		vertical-align: middle;
	}
	
	td {
		text-align: center;
	}
	
	td.border-right {
		border-right-width: 0.2rem;
		border-right-color: #01d1d1;
	}

	tr.border-bottom{
		border-bottom-style: solid;
		border-bottom-width: 0.2rem;
		border-bottom-color: #01d1d1;
	}
	.puzzle-cel {
		color: #ff3860;
		font-weight: bold;
		text-shadow: 0 0 0.2rem #483490;
	}
}

.dashboard {
	width: 100%;
	.buttons {
		justify-content: center;
		margin: 0;
		.button {
			width: 20%;
			height: 3rem;
			margin-bottom: 0;
		}
	}
	.web-info {
		display: inline-block;
		width: 100%;
		line-height: 3rem;
		text-align: center;
		color: #ddd;
	}
}